<ul class="list-unstyled">
  <% questions.each do |question| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(question.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div class="list-group">
          <%= link_to question.user.name, user_path(question.user) %> <span class="text-muted">posted at <%= question.created_at %></span>
        </div>
        <div class="list-group-item">
          <p><%=safe_join(question.content.truncate(25).split("\n"),tag(:br))%></p>
          <div class="btn-group" role="group" aria-label="Basic example">
          <%= link_to '質問詳細', question_path(question), class: 'btn btn-secondary btn-sm' %>
          <% if logged_in? %>        
            <%= render 'favorites/favorite_button', question: question %>
          <% end %>  
          <% if current_user == question.user %>
            <%= link_to "削除する", question, method: :delete, data: { confirm: "本当に削除しますか？" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate questions %>
</ul>