<ul class="list-unstyled">
  <% questions.each do |question| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(question.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to question.user.name, user_path(question.user) %> <span class="text-muted">posted at <%= question.created_at %></span>
        </div>
        <div>
          <p><%= question.content %></p>
        </div>
        <div>
          <%= link_to '質問詳細', question_path(question), class: 'btn btn-light btn-sm' %>
        </div>  
        <div>
          <% if logged_in? %>        
            <%= render 'favorites/favorite_button', question: question %>
          <% end %>  
        </div>   
        <div>
          <% if current_user == question.user %>
            <%= link_to "削除する", question, method: :delete, data: { confirm: "本当に削除しますか？" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate questions %>
</ul>