<ul class="list-unstyled">
  <% @questions.each do |question| %>
  <li class="media mb-3">
    <img class="mr-2 rounded" src="<%= gravatar_url(question.user, { size: 50 }) %>" alt="">
    <div class="media-body">
      <div>
        <%= link_to question.user.name, user_path(question.user) %> <span class="text-muted">posted at <%= question.created_at %></span>
      </div>
      <div>
        <p><%= question.content %></p>
      </div>
      <div>
        <%= link_to '質問詳細', question_path(question), class: 'btn btn-light btn-sm' %>
      </div>  
    </div>
  </li>
  <% end %>
</ul>  