<ul class="list-unstyled">
  <% answers.each do |answer| %>
  <li class="media mb-3">
    <img class="mr-2 rounded" src="<%= gravatar_url(answer.user, { size: 50 }) %>" alt="">
    <div class="media-body">
      <div>
        <%= link_to answer.user.name, user_path(answer.user) %> <span class="text-muted">posted at <%= answer.created_at %></span>
      </div>
      <div class="list-group-item">
        <p><%= answer.content %></p>
        <%= link_to '回答詳細', answer_path(answer), class: 'btn btn-light btn-sm' %>
        <% if current_user == answer.user %>
          <%= link_to '削除する', answer, method: :delete, data: { confirm: "本当に削除しますか？" }, class: 'btn btn-danger btn-sm' %>
        <% end %>
      </div>
    </div>
  </li>
  <% end %>
</ul>    